<ion-content [fullscreen]="true">
<!--
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Exemplo de texto legal! 🙂
      </ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-radio-group>

        <ion-item>
          <ion-label>🙂</ion-label>
          <ion-radio value="CLIENT" slot="start"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>🙁</ion-label>
          <ion-radio value="PARTNER" slot="start"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-card-content>
  </ion-card>
-->
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Cadastro legal! 🙂
        </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-item>
          <ion-input aria-label="Name" type="text"  value="Seu Nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input aria-label="Email" type="email"  value="seu@email.aqui"></ion-input>
        </ion-item>
        <ion-item>
         <ion-input label="Senha" type="password" value="********"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Confirmar Senha" type="password" value="********"></ion-input>
        </ion-item>
        <ion-item>
         <ion-input aria-label="Email" type="tel" value="(00)12345-6789"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button size="full" color="success" (click)="register()">
        Cadastrar
      </ion-button>
    </ion-card>
  </div>
</ion-content>
